<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')  %>
    <title>Blog</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs')  %>
    </header>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <h3 class="h3">Блоги по программированию</h3>
                <h5 class="h5">Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</h5>
                <div class="content">
                    <div class="content-img">
                        <img src="<%= blog.image%>" alt="">
                    </div>
                    <div class="content-top">
                        <h4 class="h4"><%= blog.title%></h4>
                        <p class="toggle-dropdown">
                            <img src="/images/icons/tripledot.svg" alt="">
                            Еще
                        </p>
                        <div class="content-dropdown">
                            <span>Редактировать</span>
                            <span>Удалить</span>
                        </div>
                    </div>
                    <p><%= blog.description%></p>
                    <div class="content-info">
                        <p>
                            <img src="/images/icons/calendar.svg" alt="">
                            26.06.2020
                        </p>
                        <p>
                            <img src="/images/icons/eye.svg" alt="">
                            21
                        </p>
                        <p>
                            <img src="/images/icons/shape.svg" alt="">
                            4
                        </p>
                        <p>
                            <img src="/images/icons/fill.svg" alt="">
                            Веб-разработка
                        </p>
                        <p>
                            <img src="/images/icons/user.svg" alt="">
                            Nast1289
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user">
            <div class="user-img">
                <img src="/images/avatar.png" alt="">
            </div>
            <p style="font-weight: 700;"><%=user.full_name%></p>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <p>285 постов за все время</p>
            <a href="/api/signout">
                <button class="edit-btn">Выход</button>
            </a>
            
        </div>
    </div>
    <%-include('partials/scripts.ejs')%>
</body>
</html>