<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')  %>
    <title>Main</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs')  %>
    </header>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="content">
                    <%  
                        blogs.forEach(blog =>{
                    %>
                    <a href="/blog/<%=blog._id%>" class="content-img">
                        <img src="<%= blog.image %>" alt="">
                    </a>
                    <div class="content-top">
                        <h4 class="h4"><%= blog.title %></h4>
                        <% if(loggedUser.id == blog.author.id){ %>
                        <p class="toggle-dropdown">
                            <img src="/images/icons/tripledot.svg" alt="">
                            Еще
                        </p>
                        <div class="content-dropdown">
                            <a href="/edit/<%=blog._id%>">Редактировать</a>
                            <a onclick="deleteBlog('<%=blog._id%>', '<%=blog.author._id%>')">Удалить</a>
                        </div>
                        <% } %>
                    </div>
                    <p><%= blog.description%></p>
                    <div class="content-info">
                        <p>
                            <img src="/images/icons/calendar.svg" alt="">
                            <%= blog.date%>
                        </p>
                        <p>
                            <img src="/images/icons/eye.svg" alt="">
                            21
                        </p>
                        <p>
                            <img src="/images/icons/shape.svg" alt="">
                            4
                        </p>
                        <p>
                            <img src="/images/icons/fill.svg" alt="">
                            <%= blog.category.name %>
                        </p>
                        <a href="/myblogs/<%=blog.author._id%>">
                            <img src="/images/icons/user.svg" alt="">
                            <%= blog.author.full_name %>
                        </a>
                    </div>
                    <%
                        })
                    %>
                </div>
                <div class="pages">
                    <%
                        let localsString = ''
                        if(locals.category){
                            localsString = `category=${locals.category}&`
                        }
                        if(locals.search){
                            localsString = `search=${locals.search}&`
                        }
                        for(let i = 0; i < pages; i++){
                    %>
                        <a href="?<%=localsString%>page=<%=i%>"><%=i + 1%></a>
                    <%
                        }
                    %>
                </div>
            </div>
        </div>
        <div class="categories">
            <h3 class="h3">Категории</h3>
            <%categories.forEach(item =>{%>
                <a href="?category=<%=item.key%>"><%=item.name %></a>
            <%})%>
        </div>
    </div>
    <%-include('partials/scripts.ejs')%>
</body>
</html>