<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')  %>
    <title>Myblog</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs')  %>
    </header>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="main-top">
                    <h3 class="h3">Мои блоги</h3>
                    <a href="/new">
                        <button class="edit-btn">Новый блог</button>
                    </a>
                </div>
                <div class="content">
                    <%  
                        blogs.forEach(blog =>{
                    %>
                    <a href="/blog/<%=blog._id%>" class="content-img">
                        <img src="<%= blog.image %>" alt="">
                    </a>
                    <div class="content-top">
                        <h4 class="h4"><%= blog.title %></h4>
                        <p class="toggle-dropdown">
                            <img src="/images/icons/tripledot.svg" alt="">
                            Еще
                        </p>
                        <div class="content-dropdown">
                            <a href="/edit/<%=blog._id%>">Редактировать</a>
                            <a onclick="deleteBlog('<%=blog._id%>', '<%=blog.author._id%>')">Удалить</a>
                        </div>
                    </div>
                    <p><%= blog.description%></p>
                    <div class="content-info">
                        <p>
                            <img src="/images/icons/calendar.svg" alt="">
                            26.06.2020
                        </p>
                        <p>
                            <img src="/images/icons/eye.svg" alt="">
                            21
                        </p>
                        <p>
                            <img src="/images/icons/shape.svg" alt="">
                            4
                        </p>
                        <p>
                            <img src="/images/icons/fill.svg" alt="">
                            Веб-разработка
                        </p>
                        <p>
                            <img src="/images/icons/user.svg" alt="">
                            Nast1289
                        </p>
                    </div>
                    <%
                        })
                    %>
                </div>
                <div class="pages">
                    <%
                        let localsString = ''
                        if(locals.category){
                            localsString = `category=${locals.category}&`
                        }
                        if(locals.search){
                            localsString = `search=${locals.search}&`
                        }
                        for(let i = 0; i < pages; i++){
                    %>
                        <a href="?<%=localsString%>page=<%=i%>"><%=i + 1%></a>
                    <%
                        }
                    %>
                </div>
            </div>
        </div>
        <div class="user">
            <div class="user-img">
                <img src="/images/avatar.png" alt="">
            </div>
            <p style="font-weight: 700;"><%=loggedUser.full_name%></p>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <p>285 постов за все время</p>
            <a href="/api/signout">
                <button class="edit-btn">Выход</button>
            </a>
            
        </div>
    </div>
    <%-include('partials/scripts.ejs')%>
</body>
</html>