<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')  %>
    <title>Blog</title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs')  %>
    </header>
    <div class="container">
        <div class="main">
            <form action="/api/blogs/new" method="post" class="new-blog" enctype="multipart/form-data">
                <h3 class="h3">Новый блог</h3>
                <input type="text" placeholder="Введите заголовок блога" name="title">
                <select class="cat-select" name="category">
                    Выберите категорию
                    <% category.forEach(category =>{ %>
                    <option value="<%= category._id %>"><%=category.name  %></option>
                    <% }) %>
                </select>
                <input type="file" class="select-img" name="image">
                <textarea id="" cols="30" rows="10" placeholder="Введите описание блога" name="description"></textarea>
                <button type="submit" class="edit-btn" style="width: 16%;">Создать</button>
            </form>
        </div>
    </div>
    <%-include('partials/scripts.ejs')%>
</body>
</html>